.detalleCarrito {
    margin: 50px;
    border-style: dotted;
    border-color: cornflowerblue;
    width: -webkit-fill-available;
    background-color: rgb(241, 229, 213);
}

img {
    margin-left: 20px;
    margin-top: 20px;
}

.descripcionCarrito {
    display: flex;
    justify-content: space-around;
}

.botonesCarrito {
    border-top-width: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.vaciarCarrito {
    margin-top: 50px;
}

.precioTotal {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    border-top: inset;
    display: -webkit-inline-box;
    padding-top: 10px;
}