.Header {
    color: rgb(245, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 182, 146);
}

.divImagen {
    border-style: double;
}

img {
    width: 200px;
    margin-bottom: 10px;
}