.container {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 163, 117);
}

.containerUl {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.containerUl li {
    list-style-type: none;
    color: beige;
}

.Link {
    color: white;
}

.active {
    background-color: red;
    padding: 10px;
}


/*li {
    margin: 10px;
    list-style-type: none;
    padding: 30px;
}*/

l .cartIcon {
    display: flex;
    margin-top: 50px;
}